<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guntoro.com.lagi"

    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tentang"
            android:label="@string/tentang"
            android:parentActivityName=".tentang" />
        <activity android:name=".activity_filter" />
        <activity
            android:name=".referensi"
            android:label="Referensi-referensi"
            android:parentActivityName=".referensi" />
        <activity
            android:name=".android"
            android:label="Android"
            android:parentActivityName=".android" />
        <activity android:name=".DetailIstilahActivity" />
        <activity
            android:name=".internet"
            android:label="Internet"
            android:parentActivityName=".internet" />
        <activity
            android:name=".intranet"
            android:label="Intranet"
            android:parentActivityName=".intranet" />
        <activity android:name=".Harddisk"
            android:label="Harddisk"
            android:parentActivityName=".Harddisk"/>
        <activity android:name=".Prosesor"
            android:label="Prosesor"
            android:parentActivityName=".Prosesor"/>
        <activity android:name=".Komputer"
            android:label="Komputer"
            android:parentActivityName=".Komputer"/>
        <activity android:name=".Analogi"
            android:label="Analogi"
            android:parentActivityName=".Analogi"/>
        <activity android:name=".Web"
            android:label="Web"
            android:parentActivityName=".Web"/>
        <activity android:name=".Media_sosial"
            android:label="Media Sosial"
            android:parentActivityName=".Media_sosial"/>
        <activity android:name=".smartphone"
            android:label="Smartphone"
            android:parentActivityName=".smartphone"
            ></activity>
    </application>

</manifest>